/* 全局样式 */
body {
  margin: 0;
  padding: 0;
}

/* 图片容器 */
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* 可以根据需要调整图片容器的高度 */
}

/* 图片 */
img {
  /* 假设你希望图片缩小为原尺寸的一半 */
  /* scale(0.5) 表示缩放为原尺寸的一半 */
  /* scale(1) 表示原尺寸 */
  /* scale(2) 表示放大为原尺寸的两倍，以此类推 */
  transform: scale(0.5);
}
